@model Movies.Models.Movie
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Movie</legend>
    @Html.DisplayForModel()
</fieldset>
<h2>Reviews</h2>
<table>
    <tr>
        <th>Reviewer</th>
        <th>Rating</th>
        <th></th>
    </tr>
    @foreach (var review in Model.Reviews) { 
    <tr>
        <td>@review.Reviewer</td>    
        <td>@review.Rating</td>
        <td>@Html.ActionLink("Edit", "Edit", "Review", 
                new { id=review.ID }, null)
        </td>
    </tr>    
    }
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
