@model Microsoft.AspNetCore.Mvc.RazorPages.CompiledPageActionDescriptor

<div>
    Area name: @Model.AreaName
</div>
<div>
    Display name: @Model.DisplayName
</div>
<div>
    View engine path: @Model.ViewEnginePath
</div>
<div>
    Relative path: @Model.RelativePath
</div>
</div>
<div>
    Route Values:
    <table class="table">
        @foreach (var routeValue in Model.RouteValues)
        {
            <tr>
                <td>@routeValue.Key</td>
                <td>@routeValue.Value</td>
            </tr>
        }
    </table>
</div>
<div>
    Properties
    <table class="table">
        @foreach (var property in Model.Properties)
        {
            <tr>
                <td>@property.Key</td>
                <td>@property.Value</td>
            </tr>
        }
    </table>
</div>
@if (Model.Parameters != null)
{
<div>
    Parameters
    <table class="table">
        @foreach (var parameter in Model.Parameters)
        {
            <tr>
                <td>@parameter.Name</td>
                <td>@parameter.ParameterType</td>
            </tr>
        }
    </table>
</div>
}
<div>
    PageTypeInfo: @Model.PageTypeInfo.Name
</div>
<div>
    NameTypeInfo: @Model.ModelTypeInfo.Name
</div>
<div>
    ID: @Model.Id
</div>
<div>
    HandlerType: @Model.HandlerTypeInfo.Name
</div>
<div>
    Filters
    <table class="table">
        @foreach (var filter in Model.FilterDescriptors)
        {
            <tr>
                <td>@filter.Filter.GetType().Name</td>
            </tr>
        }
    </table>
</div>
<div>
    DisplayName: @Model.DisplayName
</div>
<div>
    DeclaredModelType: @Model.DeclaredModelTypeInfo.Name
</div>
<div>
    Bound Properties
    <table class="table">
        @foreach (var property in Model.BoundProperties)
        {
            <tr>
                <td>@property.Name</td>
                <td>@property.ParameterType.Name</td>
            </tr>
        }
    </table>
</div>
<div>
    AttributeRoute: @Model.AttributeRouteInfo.Name @Model.AttributeRouteInfo.Template
</div>
<div>
    Action Constraints
    <table class="table">
        @foreach (var action in Model.ActionConstraints)
        {
            <tr>
                <td>@action.GetType().Name</td>
            </tr>
        }
    </table>
</div>