@model IEnumerable<Cars.Models.Car>

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Manufacturer
        </th>
        <th>
            ModelName
        </th>
        <th>
            AverageMPG
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
        <td>
            @item.Manufacturer
        </td>
        <td>
            @item.ModelName
        </td>
        <td>
            @String.Format("{0:F}", item.AverageMPG)
        </td>
    </tr>
}

</table>

